{% extends "_layout.html" %}
{% block title %}{{ g.messages['mod_panel'] }}{% endblock %}
{% block header %}{{ g.messages['mod_panel'] }}{% endblock %}
{% block content %}
<div id="info-box">
    <table id="mod-table" class="info-table" cellspacing="0">
        <thead>
            <tr>
                <th colspan="4">{{ g.messages['mod_panel'] }}</th>
            </tr>
        </thead>
        <tbody>
            <tr id="logged-in-info">
                <td colspan="2">
                    {{ g.messages['logged_in_as'] }}: <b>{{ g.user.username }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="settings-list">
                        <b>{{ g.messages['administrator_settings'] }}</b>
                        <ul class="undecorated-ul">
                            <li><a href="{{ url_for('mod.general_settings') }}">{{ g.messages['general_settings'] }}</a></li>
                            <li><a href="#">{{ g.messages['moderators'] }}</a></li>
                            <li><a href="#">{{ g.messages['whitelist'] }}</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="settings-list">
                        <b>{{ g.messages['moderator_settings'] }}</b>
                        <ul class="undecorated-ul">
                            <li><a href="#">{{ g.messages['bans'] }}</a></li>
                            <li><a href="#">{{ g.messages['boards'] }}</a></li>
                            <li><a href="#">{{ g.messages['custom_flags'] }}</a></li>
                            <li><a href="#">{{ g.messages['wordfilters'] }}</a></li>
                            <li><a href="#">{{ g.messages['assets'] }}</a></li>
                            <li><a href="#">{{ g.messages['banners'] }}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}