<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/flytheme.css"/>
        <link rel="stylesheet" href="/static/css/glyphicons.css"/>
        <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="/static/js/jquery-fieldselection.js"></script>
        <script type="text/javascript" src="/static/js/js.cookie.js"></script>
        <script type="text/javascript" src="/static/js/flyboard-board.js"></script>
        <title>Test - FlyBoard</title>
    </head>
    <body>
        <div id="topbar">
            <span class="board-list">
                [<a href="#">a</a>
                /
                <a href="#">b</a>
                /
                <a href="#">c</a>
                /
                <a href="#">d</a>
                /
                <a href="#">e</a>]
            </span>
            <span id="settings-side">
                <a href="#" id="thread-watcher" class="glyphicon glyphicon-eye-open" title="Thread Watcher"></a>
                <a href="#" id="search-button" class="glyphicon glyphicon-search" title="Search"></a>
                <a href="#" id="login-button" class="glyphicon glyphicon-user" title="Log in"></a>
                <a href="#" id="settings-button" class="glyphicon glyphicon-cog" title="Settings"></a>
                <a href="#" id="home-button" class="glyphicon glyphicon-home" title="Home"></a>
            </span>
        </div>
        <div id="header">
            <img id="banner" src="/static/assets/banners/default.png"/>
            <div id="board-name" class="bold">/test/ - Test</div>
            <div id="board-header">
                <hr>
                <div id="start-thread-box">
                    <div id="start-thread-wrapper" class="bold">
                        [<a href="#" id="start-thread-link" title="Show thread creator">Start a new thread</a>]
                    </div>
                    <div id="no-thread-wrapper" class="bold">
                        [<a href="#" id="no-thread-link" title="Hide thread creator">Hide the form</a>]
                    </div>
                    <div id="new-thread-creator" class="hidden">
                        <form>
                            <table id="form-table">
                                <tr>
                                    <th>Name</th>
                                    <td><input type="text" id="name-input"/></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><input type="email" id="email-input"/></td>
                                </tr>
                                <tr>
                                    <th>Subject</th>
                                    <td><input type="text" id="subject-input"/></td>
                                </tr>
                                <tr>
                                    <th>Message</th>
                                    <td><textarea type="text" rows="4" col="30" id="message-input"/></textarea></td>
                                </tr>
                                <tr>
                                    <th>BBCode</th>
                                    <td class="no-bold horizontal-buttons">
                                        <a id="bold-btn" class="btn" href="#"><strong>B</strong></a>
                                        <a id="italic-btn" class="btn" href="#"><em>I</em></a>
                                        <a id="underline-btn" class="btn" href="#"><u>U</u></a>
                                        <a id="code-btn" class="btn" href="#">code</a>
                                        <a id="spoiler-btn" class="btn" href="#">spoiler</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Embed</th>
                                    <td><input type="text" id="embed-input"/></td>
                                </tr>
                                <tr>
                                    <th>Password</th>
                                    <td><input type="text" id="password-input"/></td>
                                </tr>
                                <tr>
                                    <th>File(s)</th>
                                    <td id="files">
                                        <div id="image-buttons">[<a href="#" id="add-image-btn">Add</a><span id="image-btn-separator"> / </span><a href="#" id="remove-image-btn">Remove</a>]</div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Action</th>
                                    <td>
                                        <button type="submit" id="send-btn">Send</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div id="post-info-box">
                            <b>Supported file types</b>: PNG, JPEG, GIF, WEBM, MP4<br>
                            <b>Maximum file size</b>: 15.00M<br>
                            <b>Current unique posters</b>: 4356<br>
                            <b>Messages posted within last minute</b>: 127
                        </div>
                    </div>
                </div>
                <p id="users-online-text">Users online: <span id="users-online-count" class="bold">1000</span></p>
                <hr>
            </div>
            <p id="announcement">{{ g.global_announcement }}</p>
        </div>
        <hr>
        <div class="board-bar">
            <span id="board-search">
                <input type="text" id="search-input" placeholder="Search posts..."/>
                <button type="submit" id="search-ops-btn">Search all</button>
                <button type="submit" id="search-ops-btn">Search OPs</button>
            </span>
            <span id="board-archive">
                [<a href="#">Archive</a>]
            </span>
        </div>
        <hr>
        <div id="content">
            <div class="board">
                <div id="p8" class="post">
                    <div class="post-file-block">
                        <div class="post-file-info">File: <a href="#">default.png</a> (2 KB, 300x100)</div>
                        <div class="post-file">
                            <img src="/static/assets/banners/default.png" />
                        </div>
                    </div>
                    <div class="post-file-block">
                        <div class="post-file-info">File: <a href="#">default.png</a> (2 KB, 300x100)</div>
                        <div class="post-file">
                            <img src="/static/assets/banners/default.png" />
                        </div>
                    </div>
                    <div class="post-file-block">
                        <div class="post-file-info">File: <a href="#">default.png</a> (2 KB, 300x100)</div>
                        <div class="post-file">
                            <img src="/static/assets/banners/default.png" />
                        </div>
                    </div>
                    <span class="post-container">
                        <span class="post-poster-info">
                            <a href="#" onclick="return false;" class="glyphicon glyphicon-menu-hamburger post-settings-btn"></a><span class="post-poster-block"><span class="post-poster-name">Anonymous</span></span>
                            <span class="post-time-posted">10/27/14(Mon)20:13:25</span> 
                            No.<a class="post-id" href="#postno-8">8</a>
                            [<a href="#">Reply</a>]
                            [<a href="#">-</a>]
                        </span>
                        <blockquote class="post-content">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium venenatis turpis, et sollicitudin eros tristique at. Mauris condimentum neque eu elit egestas, ac consectetur ligula faucibus. Suspendisse malesuada est sit amet interdum mollis. Nunc fringilla, diam eu tincidunt eleifend, turpis enim dictum metus, non fringilla urna erat in nisl. Vivamus posuere porttitor lorem vitae pellentesque. Maecenas sollicitudin tortor et enim rutrum semper. Sed non risus nec ex tempus scelerisque. Vestibulum sit amet erat ante.</span>
                            <br>
                            <br>
                            <span class="quote">&gt;Curabitur vel diam mauris. Proin nec quam maximus, porta sapien eget, ultrices metus. Mauris vitae massa et quam semper lacinia. Cras eu mattis turpis, lobortis fringilla dui. Nunc dapibus vehicula dui ut dictum. Phasellus fringilla tempor sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris finibus rutrum lectus eu laoreet. Fusce vehicula non eros at molestie.</span>
                            <br>
                            <br>
                            <span>Sed finibus nulla vitae nulla placerat tristique. Suspendisse placerat, erat vitae convallis aliquam, est libero elementum turpis, id pellentesque erat magna in felis. Nunc et dolor euismod augue vehicula bibendum. Etiam dictum mi vel ante iaculis blandit. Ut sit amet facilisis sem. Nulla neque augue, dictum vel pharetra eu, varius eu lectus. Morbi sodales sagittis nisi, quis mollis nibh congue id. Nulla semper lacinia dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed id nibh ac nisl elementum feugiat in semper neque. In malesuada, sapien et rhoncus pretium, turpis est fringilla elit, non imperdiet odio dolor nec nibh. Integer molestie semper nisi, a posuere urna vestibulum sit amet.</span>
                            <br>
                            <br>
                            <span class="quote">&gt;Ut imperdiet nulla eget elit dignissim congue. In sed sem lobortis odio euismod euismod id et nisi. Duis ut quam in dolor ornare mattis. Donec accumsan dui a dolor aliquam fermentum. Nulla in vulputate eros. Cras interdum eros et turpis ornare, id luctus odio ullamcorper. Donec tempor magna ac egestas vehicula. Nam fermentum, augue eget lobortis faucibus, nulla augue condimentum leo, et dignissim lorem lacus auctor enim. Ut ut mi non turpis facilisis consectetur quis eget turpis. Ut eu tortor quam. Aenean mattis quam semper nisi scelerisque eleifend. Praesent vitae condimentum velit. Aliquam erat volutpat. Nulla sit amet eleifend sem. In augue ex, consectetur ut auctor et, ullamcorper in ex.</span>
                            <br>
                            <br>
                            <span>Nullam quis neque eu velit vehicula fermentum. Aenean molestie ac ex eget porta. Suspendisse ac sapien mattis, hendrerit metus posuere, ornare mauris. Pellentesque dictum feugiat nibh. Donec et pulvinar ante, vel tempus turpis. Nulla quis libero ut quam rhoncus ultrices. Sed rutrum mi justo, ut porttitor felis mattis sed. Duis mauris nulla, vulputate ut tempor eu, sagittis vel massa. Aliquam pellentesque metus vel elit placerat molestie. Duis et porttitor nunc. Pellentesque vel turpis non ipsum faucibus ultrices vitae quis ante. Nam sed pulvinar neque. Maecenas velit dolor, aliquet sit amet eros sit amet, placerat porta felis.</span>
                            <br>
                            <br>
                            <span>Maecenas venenatis neque at erat scelerisque sodales. Donec porttitor rhoncus mauris, id faucibus erat varius in. Morbi gravida vel nisl vitae vestibulum. Aenean fringilla urna mauris, a porta diam posuere in. Mauris a nisl egestas, dignissim urna sed, tristique turpis. Fusce et efficitur neque. Nam vestibulum dolor eu orci rutrum sollicitudin. In non dictum neque. Sed faucibus nisl tincidunt ipsum pellentesque tristique. Nunc ac dui dui. Donec tempor lorem id lacus eleifend, in viverra odio facilisis. Sed semper erat sapien, quis mattis purus aliquet eget. Integer rutrum lacus id lectus interdum, et vehicula sem pellentesque. Pellentesque ultrices vel ipsum ut auctor. Fusce erat enim, dictum quis bibendum a, ullamcorper sit amet leo. Quisque imperdiet dignissim diam, porttitor vulputate leo.</span>
                        </blockquote>
                    </span>
                </div>
                <div class="full-reply">
                    <div class="reply-arrows">
                        &gt;&gt;
                    </div>
                    <div id="p9" class="post post-reply">
                        <span class="post-container">
                            <span class="post-poster-info">
                                <a href="#" onclick="return false;" class="glyphicon glyphicon-menu-hamburger post-settings-btn"></a><span class="post-poster-block"><span class="post-poster-name">Anonymous</span></span> <span class="post-time-posted">10/27/14(Mon)20:35:36</span> No.<a class="post-id" href="#postno-9">9</a>
                            </span>
                            <blockquote class="post-content">
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium venenatis turpis, et sollicitudin eros tristique at. Mauris condimentum neque eu elit egestas, ac consectetur ligula faucibus. Suspendisse malesuada est sit amet interdum mollis. Nunc fringilla, diam eu tincidunt eleifend, turpis enim dictum metus, non fringilla urna erat in nisl. Vivamus posuere porttitor lorem vitae pellentesque. Maecenas sollicitudin tortor et enim rutrum semper. Sed non risus nec ex tempus scelerisque. Vestibulum sit amet erat ante.</span>
                                <br>
                                <br>
                                <span class="quote">&gt;Curabitur vel diam mauris. Proin nec quam maximus, porta sapien eget, ultrices metus. Mauris vitae massa et quam semper lacinia. Cras eu mattis turpis, lobortis fringilla dui. Nunc dapibus vehicula dui ut dictum. Phasellus fringilla tempor sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris finibus rutrum lectus eu laoreet. Fusce vehicula non eros at molestie.</span>
                                <br>
                                <br>
                                <span>Sed finibus nulla vitae nulla placerat tristique. Suspendisse placerat, erat vitae convallis aliquam, est libero elementum turpis, id pellentesque erat magna in felis. Nunc et dolor euismod augue vehicula bibendum. Etiam dictum mi vel ante iaculis blandit. Ut sit amet facilisis sem. Nulla neque augue, dictum vel pharetra eu, varius eu lectus. Morbi sodales sagittis nisi, quis mollis nibh congue id. Nulla semper lacinia dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed id nibh ac nisl elementum feugiat in semper neque. In malesuada, sapien et rhoncus pretium, turpis est fringilla elit, non imperdiet odio dolor nec nibh. Integer molestie semper nisi, a posuere urna vestibulum sit amet.</span>
                                <br>
                                <br>
                                <span class="quote">&gt;Ut imperdiet nulla eget elit dignissim congue. In sed sem lobortis odio euismod euismod id et nisi. Duis ut quam in dolor ornare mattis. Donec accumsan dui a dolor aliquam fermentum. Nulla in vulputate eros. Cras interdum eros et turpis ornare, id luctus odio ullamcorper. Donec tempor magna ac egestas vehicula. Nam fermentum, augue eget lobortis faucibus, nulla augue condimentum leo, et dignissim lorem lacus auctor enim. Ut ut mi non turpis facilisis consectetur quis eget turpis. Ut eu tortor quam. Aenean mattis quam semper nisi scelerisque eleifend. Praesent vitae condimentum velit. Aliquam erat volutpat. Nulla sit amet eleifend sem. In augue ex, consectetur ut auctor et, ullamcorper in ex.</span>
                                <br>
                                <br>
                                <span>Nullam quis neque eu velit vehicula fermentum. Aenean molestie ac ex eget porta. Suspendisse ac sapien mattis, hendrerit metus posuere, ornare mauris. Pellentesque dictum feugiat nibh. Donec et pulvinar ante, vel tempus turpis. Nulla quis libero ut quam rhoncus ultrices. Sed rutrum mi justo, ut porttitor felis mattis sed. Duis mauris nulla, vulputate ut tempor eu, sagittis vel massa. Aliquam pellentesque metus vel elit placerat molestie. Duis et porttitor nunc. Pellentesque vel turpis non ipsum faucibus ultrices vitae quis ante. Nam sed pulvinar neque. Maecenas velit dolor, aliquet sit amet eros sit amet, placerat porta felis.</span>
                                <br>
                                <br>
                                <span>Maecenas venenatis neque at erat scelerisque sodales. Donec porttitor rhoncus mauris, id faucibus erat varius in. Morbi gravida vel nisl vitae vestibulum. Aenean fringilla urna mauris, a porta diam posuere in. Mauris a nisl egestas, dignissim urna sed, tristique turpis. Fusce et efficitur neque. Nam vestibulum dolor eu orci rutrum sollicitudin. In non dictum neque. Sed faucibus nisl tincidunt ipsum pellentesque tristique. Nunc ac dui dui. Donec tempor lorem id lacus eleifend, in viverra odio facilisis. Sed semper erat sapien, quis mattis purus aliquet eget. Integer rutrum lacus id lectus interdum, et vehicula sem pellentesque. Pellentesque ultrices vel ipsum ut auctor. Fusce erat enim, dictum quis bibendum a, ullamcorper sit amet leo. Quisque imperdiet dignissim diam, porttitor vulputate leo.</span>
                            </blockquote>
                        </span>
                    </div>
                </div>
                <div class="full-reply">
                    <div class="reply-arrows">
                        &gt;&gt;
                    </div>
                    <div id="p9" class="post post-reply">
                        <span class="post-container">
                            <span class="post-poster-info">
                                <a href="#" onclick="return false;" class="glyphicon glyphicon-menu-hamburger post-settings-btn"></a><span class="post-poster-block"><span class="post-poster-name">Anonymous</span></span> <span class="post-time-posted">10/27/14(Mon)20:35:36</span> No.<a class="post-id" href="#postno-9">9</a>
                            </span>
                            <blockquote class="post-content">
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium venenatis turpis, et sollicitudin eros tristique at. Mauris condimentum neque eu elit egestas, ac consectetur ligula faucibus. Suspendisse malesuada est sit amet interdum mollis. Nunc fringilla, diam eu tincidunt eleifend, turpis enim dictum metus, non fringilla urna erat in nisl. Vivamus posuere porttitor lorem vitae pellentesque. Maecenas sollicitudin tortor et enim rutrum semper. Sed non risus nec ex tempus scelerisque. Vestibulum sit amet erat ante.</span>
                                <br>
                                <br>
                                <span class="quote">&gt;Curabitur vel diam mauris. Proin nec quam maximus, porta sapien eget, ultrices metus. Mauris vitae massa et quam semper lacinia. Cras eu mattis turpis, lobortis fringilla dui. Nunc dapibus vehicula dui ut dictum. Phasellus fringilla tempor sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris finibus rutrum lectus eu laoreet. Fusce vehicula non eros at molestie.</span>
                                <br>
                                <br>
                                <span>Sed finibus nulla vitae nulla placerat tristique. Suspendisse placerat, erat vitae convallis aliquam, est libero elementum turpis, id pellentesque erat magna in felis. Nunc et dolor euismod augue vehicula bibendum. Etiam dictum mi vel ante iaculis blandit. Ut sit amet facilisis sem. Nulla neque augue, dictum vel pharetra eu, varius eu lectus. Morbi sodales sagittis nisi, quis mollis nibh congue id. Nulla semper lacinia dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed id nibh ac nisl elementum feugiat in semper neque. In malesuada, sapien et rhoncus pretium, turpis est fringilla elit, non imperdiet odio dolor nec nibh. Integer molestie semper nisi, a posuere urna vestibulum sit amet.</span>
                                <br>
                                <br>
                                <span class="quote">&gt;Ut imperdiet nulla eget elit dignissim congue. In sed sem lobortis odio euismod euismod id et nisi. Duis ut quam in dolor ornare mattis. Donec accumsan dui a dolor aliquam fermentum. Nulla in vulputate eros. Cras interdum eros et turpis ornare, id luctus odio ullamcorper. Donec tempor magna ac egestas vehicula. Nam fermentum, augue eget lobortis faucibus, nulla augue condimentum leo, et dignissim lorem lacus auctor enim. Ut ut mi non turpis facilisis consectetur quis eget turpis. Ut eu tortor quam. Aenean mattis quam semper nisi scelerisque eleifend. Praesent vitae condimentum velit. Aliquam erat volutpat. Nulla sit amet eleifend sem. In augue ex, consectetur ut auctor et, ullamcorper in ex.</span>
                                <br>
                                <br>
                                <span>Nullam quis neque eu velit vehicula fermentum. Aenean molestie ac ex eget porta. Suspendisse ac sapien mattis, hendrerit metus posuere, ornare mauris. Pellentesque dictum feugiat nibh. Donec et pulvinar ante, vel tempus turpis. Nulla quis libero ut quam rhoncus ultrices. Sed rutrum mi justo, ut porttitor felis mattis sed. Duis mauris nulla, vulputate ut tempor eu, sagittis vel massa. Aliquam pellentesque metus vel elit placerat molestie. Duis et porttitor nunc. Pellentesque vel turpis non ipsum faucibus ultrices vitae quis ante. Nam sed pulvinar neque. Maecenas velit dolor, aliquet sit amet eros sit amet, placerat porta felis.</span>
                                <br>
                                <br>
                                <span>Maecenas venenatis neque at erat scelerisque sodales. Donec porttitor rhoncus mauris, id faucibus erat varius in. Morbi gravida vel nisl vitae vestibulum. Aenean fringilla urna mauris, a porta diam posuere in. Mauris a nisl egestas, dignissim urna sed, tristique turpis. Fusce et efficitur neque. Nam vestibulum dolor eu orci rutrum sollicitudin. In non dictum neque. Sed faucibus nisl tincidunt ipsum pellentesque tristique. Nunc ac dui dui. Donec tempor lorem id lacus eleifend, in viverra odio facilisis. Sed semper erat sapien, quis mattis purus aliquet eget. Integer rutrum lacus id lectus interdum, et vehicula sem pellentesque. Pellentesque ultrices vel ipsum ut auctor. Fusce erat enim, dictum quis bibendum a, ullamcorper sit amet leo. Quisque imperdiet dignissim diam, porttitor vulputate leo.</span>
                            </blockquote>
                        </span>
                    </div>
                </div>
                <hr>
                <div id="p8" class="post">
                    <div class="post-file-block">
                        <div class="post-file-info">File: <a href="#">default.png</a> (2 KB, 300x100)</div>
                        <div class="post-file">
                            <img src="/static/assets/banners/default.png" />
                        </div>
                    </div>
                    <span class="post-container">
                        <span class="post-poster-info">
                            <a href="#" onclick="return false;" class="glyphicon glyphicon-menu-hamburger post-settings-btn"></a><span class="post-poster-block"><span class="post-poster-name">Anonymous</span></span> <span class="post-time-posted">10/27/14(Mon)20:13:25</span> No.<a class="post-id" href="#postno-8">8</a> [<a href="#">Reply</a>]
                        </span>
                        <blockquote class="post-content">
                            <span>Hey, what's up?</span>
                        </blockquote>
                    </span>
                </div>
                <div class="full-reply">
                    <div class="reply-arrows">
                        &gt;&gt;
                    </div>
                    <div id="p15" class="post post-reply">
                        <span class="post-container">
                            <span class="post-poster-info">
                                <a href="#" onclick="return false;" class="glyphicon glyphicon-menu-hamburger post-settings-btn"></a><span class="post-poster-block"><span class="post-poster-name">Anonymous</span></span> <span class="post-time-posted">10/27/14(Mon)20:35:36</span> No.<a class="post-id" href="#postno-9">9</a>
                            </span>
                            <blockquote class="post-content">
                                <span>I'm fine, thanks.</span>
                            </blockquote>
                        </span>
                    </div>
                </div>
                <div class="full-reply">
                    <div class="reply-arrows">
                        &gt;&gt;
                    </div>
                    <div id="p9" class="post post-reply">
                        <span class="post-container">
                            <span class="post-poster-info">
                                <a href="#" onclick="return false;" class="glyphicon glyphicon-menu-hamburger post-settings-btn"></a><span class="post-poster-block"><span class="post-poster-name">Anonymous</span></span> <span class="post-time-posted">10/27/14(Mon)20:35:36</span> No.<a class="post-id" href="#postno-9">9</a>
                            </span>
                            <blockquote class="post-content">
                                <a href="/board/test/thread/10#p15" class="quotelink">&gt;&gt;15</a>
                                <br>
                                <span>Good to hear.</span>
                            </blockquote>
                        </span>
                    </div>
                </div>
                <div class="full-reply">
                    <div class="reply-arrows">
                        &gt;&gt;
                    </div>
                    <div id="p15" class="post post-reply">
                        <span class="post-container">
                            <span class="post-poster-info">
                                <a href="#" onclick="return false;" class="glyphicon glyphicon-menu-hamburger post-settings-btn"></a><span class="post-poster-block"><span class="post-poster-name">Anonymous</span></span> <span class="post-time-posted">10/27/14(Mon)20:35:36</span> No.<a class="post-id" href="#postno-9">9</a>
                            </span>
                            <blockquote class="post-content">
                                <span>I'm fine too.</span>
                            </blockquote>
                        </span>
                    </div>
                </div>
            </div>
        <hr>
            <span id="page-list">
                <span id="all-pages">[<a href="#" onclick="return false;">All</a>]</span>
                [<a href="#" onclick="return false;">1</a>]
                [<a href="#" onclick="return false;">2</a>]
                [<a href="#" onclick="return false;">3</a>]
                [<a href="#" onclick="return false;">4</a>]
                [<a href="#" onclick="return false;">5</a>]
                [<a href="#" onclick="return false;">6</a>]
                [<a href="#" onclick="return false;">7</a>]
                [<a href="#" onclick="return false;">8</a>]
                [<a href="#" onclick="return false;">9</a>]
                [<a href="#" onclick="return false;">10</a>]
                <span class="vl"></span>
                <button id="next-page-btn">Next</button>
                <span class="vl"></span>
                [<a href="#" onclick="return false;">Catalog</a>]
                [<a href="#" onclick="return false;">Archive</a>]
            </span>
        </div>
        <hr>
        <div id="bottombar">
            <span class="board-list">
                [<a href="#">a</a>
                /
                <a href="#">b</a>
                /
                <a href="#">c</a>
                /
                <a href="#">d</a>
                /
                <a href="#">e</a>]
            </span>
            <span class="edit-board-list">
                [<a href="#">Edit</a>]
            </span>
            <span id="settings-side">
                <a href="#" id="search-button" class="glyphicon glyphicon-search" title="Search"></a>
                <a href="#" id="login-button" class="glyphicon glyphicon-user" title="Log in"></a>
                <a href="#" id="settings-button" class="glyphicon glyphicon-cog" title="Settings"></a>
                <a href="#" id="home-button" class="glyphicon glyphicon-home" title="Home"></a>
            </span>
        </div>
        <div id="footer">
            <p>All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.</p>
            [<a href="#" onclick="return false;">Home</a>]
            [<a href="#" onclick="return false;">FAQ</a>]
            [<a href="#" onclick="return false;">Rules</a>]
            [<a href="#" onclick="return false;">Legal</a>]
        </div>
        <script type="text/javascript">
        </script>
    </body>
</html>