<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/flytheme.css"/>
        <link rel="stylesheet" href="/static/css/glyphicons.css"/>
        <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="/static/js/jquery-fieldselection.js"></script>
        <script type="text/javascript" src="/static/js/js.cookie.js"></script>
        <script type="text/javascript" src="/static/js/flyboard-board.js"></script>
        <script type="text/javascript" src="/static/js/flyboard-auth.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                initAuth({{ g.messages|tojson }}, {
                    "auth.login": "{{ url_for('auth.login') }}",
                    "auth.logout": "{{ url_for('auth.logout') }}",
                });
            });
        </script>
        <title>{% block title %}{% endblock %}{% if g.site_name %} - {{ g.site_name }}{% endif %}</title>
    </head>
    <body>
        <div id="topbar">
            <span class="board-list">
                {% for boards in g.board_categories %}
                [
                    {% for board in boards %}
                        <a href="board/{{board.uri}}" title="/{{board.uri}}/ - {{ board.title }}">{{ board.uri }}</a>
                        {% if not board == boards[-1] %}
                        /
                        {% endif %}
                    {% endfor %}
                ]
                {% endfor %}
            </span>
            <span id="settings-side">
                <a href="#" id="thread-watcher" class="glyphicon glyphicon-eye-open" onclick="return false;" title="{{ g.messages['thread_watcher'] }}"></a>
                <a href="#" id="search-button" class="glyphicon glyphicon-search" onclick="return false;" title="{{ g.messages['search'] }}"></a>
                <a href="#" id="settings-button" class="glyphicon glyphicon-cog" onclick="return false;" title="{{ g.messages['settings'] }}"></a>
                {% if g.user.is_authenticated %}
                    <a href="#" id="logout-button" class="glyphicon glyphicon-off" onclick="return false;" title="{{ g.messages['log_out'] }}"></a>
                    <a href="#" id="settings-button" class="glyphicon glyphicon-wrench" onclick="return false;" title="{{ g.messages['mod_panel'] }}"></a>
                {% endif %}
                {% if not g.user.is_authenticated %}
                    <a href="#" id="login-button" class="glyphicon glyphicon-user" onclick="return false;" title="{{ g.messages['log_in'] }}"></a>
                {% endif %}
                <a href="{{ url_for('home') }}" id="home-button" class="glyphicon glyphicon-home" title="{{ g.messages['home'] }}"></a>
            </span>
        </div>
        <div class="cloak" style="display: none;">
            <div class="panel panel-floating-center">
                <div class="panel-title">{{ g.messages['log_in'] }}</div>
                <form>
                    <table class="form-table">
                        <tr>
                            <th>{{ g.messages['username'] }}</th>
                            <td><input type="text" id="login-username-input"/></td>
                        </tr>
                        <tr>
                            <th>{{ g.messages['password'] }}</th>
                            <td><input type="password" id="login-password-input"/></td>
                        </tr>
                        <tr>
                            <th>{{ g.messages['action'] }}</th>
                            <td>
                                <button type="submit" id="login-btn" onclick="return false;">{{ g.messages['log_in'] }}</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div id="header">
            <img id="banner" src="/static/assets/banners/{{ g.banner }}">
            <div id="board-name" class="bold">{% block header %}{% endblock %}</div>
            {% block board_header %}
            {% endblock %}
            <hr>
            <p id="announcement">{{ g.global_announcement }}</p>
        </div>
        <hr>
        {% block board_bar %}
        {% endblock %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        <div id="bottombar">
            <span class="board-list">
                {% if g.board_categories %}
                    {% for category in g.board_categories %}
                    [
                        {% for board in category %}
                            <a href="board/{{board.uri}}" title="/{{board.uri}}/ - {{ board.title }}">{{ board.uri }}</a>
                        {% endfor %}
                    ]
                    {% endfor %}
                {% endif %}
            </span>
            <span id="settings-side">
                <a href="#" id="search-button" class="glyphicon glyphicon-search" title="Search"></a>
                <a href="#" id="login-button" class="glyphicon glyphicon-user" title="Log in"></a>
                <a href="#" id="settings-button" class="glyphicon glyphicon-cog" title="Settings"></a>
                <a href="#" id="home-button" class="glyphicon glyphicon-home" title="Home"></a>
            </span>
        </div>
        <div id="footer">
            <p>{{ g.messages['footer_legal_info'] }}</p>
            [<a href="{{ url_for('home') }}">{{ g.messages['home'] }}</a>]
            [<a href="#" onclick="return false;">{{ g.messages['faq'] }}</a>]
            [<a href="#" onclick="return false;">{{ g.messages['rules'] }}</a>]
            [<a href="#" onclick="return false;">{{ g.messages['legal'] }}</a>]
        </div>
    </body>
</html>