{% extends "_layout.html" %}
{% block title %}{{ g.messages['home'] }}{% endblock %}
{% block header %}{{ g.messages['home'] }}{% endblock %}
{% block announcement %}
{% endblock %}
{% block content %}
<table id="popular-threads-table" cellspacing="0">
    <thead>
        <tr>
            <th colspan="4">{{ g.messages['popular_threads'] }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="empty">{{ g.messages['empty'] }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}